<% if @ar_base %>
<h2>Query Result</h2>
<% if @ar_base.empty? %>
    This query has no data [<%= Time.now %>]
<% else @ar_base and !@ar_base.empty? %>
Export to: CSV | XML

<table class="meta-querier">
<tr>
    <th><%= @ar_base[0].keys.join("</th><th>") %></th>
</tr>
    <% @ar_base.each do |row| %>
        <tr>
        <td><%= row.values.join("</td><td>") %></td>
        </tr>
    <% end %>

</table>
<% end %>
<% end %>
