<div id="meta_querier-menu">
  <%= link_to "#{icon :application_add} New", :controller => "meta_querier", :action => "new" %> |
  <%= link_to "#{icon :application_cascade} List", :controller => "meta_querier", :action => "list" %>
  <%= ( " | " + link_to("#{icon :application_edit} Edit query", :controller => "meta_querier", :action => "edit", :id => @query) ) if (@query && (params[:action] != "edit"))%>
  <%= ( " | " + link_to("#{icon :application_lightning} Run query", :controller => "meta_querier_runner", :action => "run", :id => @query) ) if @query && @query.query.runnable? %>
</div>