<html>
<head>
<title>Meta Querier</title>
    <%= javascript_include_tag :defaults %>
    <%= stylesheet_link_tag 'meta_rails/meta_querier', :media => 'all' %>
</head>
<body>
<div class="meta-querier">
<h1>Meta Querier</h1>
</div>
<div id="notification-div"><br/></div>
<div class="meta-querier">
<%= @content_for_layout %>
</div>
</body>
</html>