<%= select_tag "condition[operation]", options_for_select_condition_operations, { :id => "condition_operation-#{params[:model_id]}"}  %>
<%= text_field_tag "condition[value]" %>
<%= render :partial => "condition_in_form_common" %>