Parametrizable? <%= check_box_tag "condition[parametrizable]", true, false, {:onclick => "$('parametrizable-cond-#{params[:model_id]}').toggle();"} %>
<div id="parametrizable-cond-<%= params[:model_id] %>" style="display: none;">
     <table>
  <tr>
    <td>Parameter description:</td>
    <td><%= text_area_tag "condition[parameter][description]", nil, :cols => 30, :rows => 5 %></td>
  </tr>
  </table>
</div>
<%= submit_tag "Add condition" %>
