/*
Colors:
    - dark blue: 005CB8
    - middle blue: 378CDF C5DBF7 B9DCFF AFD0F5
    - soft blue: E6F2FF
    - dark green: 1F7F00
    - middle green: 7FcF00
    - soft green: DAFFCD
    - dark grey ~ black: 3D3D3D
*/

.meta-querier {
	padding-left: 5%;
	padding-right: 5%;
	color: #333;
	font-family: Verdana, sans-serif;
	font-size: 12px;
	background-color: #E6F2FF;
	border: solid 1px #C5DBF7;
/*    overflow: hidden; */
	width: 90%;	
}
.meta-querier h2 {
	font: normal 17px verdana, sans-serif;
	color: #333;
}

.meta-querier ul li {
	list-style-type:none;
	margin-right: 10px;
	color:#858585;
	
	/*border-bottom:1px solid #3D3D3D;*/
	width: 90%;

/*	background-color: #eee; #ff8;*/
}
ul.meta-querier-menu li {
	float: left;
}

.meta-querier ul {
    margin-bottom: 10px;
}

.meta-querier a {
	text-decoration: none;
	color: #06c;
}
.meta-querier a:hover {
	text-decoration: underline;
}

.meta-querier-model {
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: 0px;
    margin-right: 10px;
    padding:0.5em 1.5em;
    /* padding-left: 5px;
        padding-right: 5px; */
    border-top: 1px solid #7FcF00;
    border-bottom: 1px solid #7FcF00;
    border-left: 1px solid #7FcF00;
}