<html>
<head>
  <title><%%= controller.controller_name.humanize %>: <%%= controller.action_name.humanize %></title>
<%%= javascript_include_tag :defaults %>
<% if is_active_scaffold -%> <%%= active_scaffold_includes %> <% end -%>
<%%= stylesheet_link_tag "meta_rails/meta_scaffold" %>
</head>
<body>

<p style="color: green"><%%= flash[:notice]%></p>

<div class="meta-scaffold">
<h2>Menu</h2>
<%%= link_to "Querier", :controller => "/meta_querier" if File.exist?(File.join(RAILS_ROOT, "vendor/plugins/meta_querier")) %> | 
<%%= link_to "Scaffold info", :controller => "/meta_scaffold_info" %>
<ul class="meta-scaffold-menu">
<% class_names.sort.each do |class_name| -%>
    <li><a href="/meta_scaffold_models/<%= class_name.tableize.pluralize %>"><%= class_name.pluralize %></a></li>
<% end -%>
</ul>
<br/><br/>
</div>
<% if File.exist?(File.join(RAILS_ROOT, "vendor/plugins/meta_querier")) %>
<%%= link_to "<img src='/meta_querier/get_image?model=#{@meta_scaffold_class_name}' maxwidth='800' border='0' />", :controller => "/meta_querier", :action => "get_image", :model => @meta_scaffold_class_name %>
<% end %>
<div>
<%%= yield  %>
</div>

</body>
</html>
